
@model IEnumerable<CCIH.Entities.RolEnt>
@{
    ViewBag.Title = "ListarRoles";
    Layout = "~/Views/Shared/_Layout_Administracion.cshtml";
}

<heah>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">


    <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script defer src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script defer src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script defer src="~/assets/Administracion/js/DataTable/DataTable.js"></script>


</heah>


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Lista de Roles</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Administracion/index">Dashboard</a></li>
                <li class="breadcrumb-item">Usuarios</li>
                <li class="breadcrumb-item active">Roles</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">

                        <div class="col-sm-4">
                            <a href="@Url.Action("RegistrarRol","Rol")" class="btn btn-primary">Registrar Rol</a>
                         </div>
                        <br />
                            <div class="row">
                                <br>
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">

                                            <table id="example" class="table table-hover text-center" style="width: 100%">
                                                <thead>
                                                    <tr>
                                                        <th>Id Rol</th>
                                                        <th>Nombre</th>
                                                        <th>Id Usuario</th>
                                                        <th>Acciones</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var item in Model)
                                                    {
                                                        <tr>
                                                            <td>@item.IdRol</td>
                                                            <td>@item.Nombre</td>
                                                            <td>@item.IdUsuario</td>
                                                            <td style="text-align:center">
                                                                <a type="submit" class="btn btn-outline-info btn-sm" href="@Url.Action("EditarRol", "Rol", new { i = item.IdRol })"><i class="bi bi-pencil-square"></i>Editar</a>
                                                                <a type="submit" class="btn btn-outline-danger btn-sm" href="@Url.Action("CambiarEstado","Usuario", new { i = item.IdUsuario })"><i class="bi bi-trash"></i>Eliminar</a>
                                                            </td>

                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>





                        </div>
                    </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->
